<template>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h2>{{$t('adminTitle')}}</h2>
      <b-table striped hover :fields="fields" :items="getSubmissions()">
        <template v-slot:cell(downloadLink)="data">
          <b>
            <a :href="data.item.downloadLink">{{$t('adminDownloadLinkLabel')}}</a>
          </b>
        </template>
      </b-table>
    </div>
  </div>
</template>

<script>
import api from "../api";

export default {
  data() {
    return {
      submissions: this.$store.self.state.submissions
    };
  },
  methods: {
    getSubmissions() {
      const result = this.$store.self.state.submissions;
      result.forEach(submission => {
        submission.score = submission.answers.filter(
          answer => answer.correct
        ).length;
        submission.downloadLink = api.baseUrl() + "submission/" + submission.id;
      });
      return result;
    },
    getMaximumScore() {
      return this.$store.self.state.maximumScore / 2;
    }
  },
  computed: {
    fields() {
      return [
        {
          // key: "answers",
          // label: "Answers",
          // formatter: (value, key, item) => {
          //   item.k;
          // }
        },
        {
          key: "id",
          label: this.$i18n.t("adminId")
        },
        {
          key: "personnelNumber",
          label: this.$i18n.t("adminPersonnelNumber")
        },
        {
          key: "score",
          label: this.$i18n.t("adminScore"),
          formatter: value => {
            return value + "/" + this.getMaximumScore();
          }
        },
        {
          key: "downloadLink",
          label: this.$i18n.t("adminDownload")
        }
      ];
    }
  }
};
</script>

<style scoped>
</style>