<template>
    <b-form-group :label="$t('pickLanguage')">
      <b-form-radio-group
        id="language"
        v-model="selected"
        :options="options"
        buttons
        button-variant="outline-primary"
        size="md"
        name="radio-btn-outline"
        @change="updateLanguage($event)"
      ></b-form-radio-group>
    </b-form-group>
</template>

<script>
  export default {
    data() {
      return {
        selected: 'en',
        options: [
          { text: 'РУС', value: 'ru' },
          { text: 'ENG', value: 'en' }
        ]
      }
    },
  methods: {
    updateLanguage(value) {
        this.$i18n.locale=value
        this.$store.self.commit("changeLanguage", value);
}
  }
  }
</script>