<template>
  <div class="row">
    <div class="left-menu col-sm-1 col-md-3 col-lg-4 col-xl-4"></div>
    <div class="centerMenu col-sm-10 col-md-6 col-lg-4 col-xl-4">
      <h2>{{$t('surveyTitle')}}</h2>
      <p>{{ qListTitle }}</p>
      <div class="form-group">
        <form @submit.prevent="handleSubmit">
          <input
            type="text"
            class="form-control"
            id="id_PersonnelNumber"
            :placeholder="$t('personnelNumberPlaceholder')"
            @input="updatePersonnelNumber($event)"
            required
          />
          <small id="id_PersonnelNumber" class="form-text text-muted">{{$t('personnelNumberGuess')}}</small>
          <div v-for="(question,index) in questions" :key="index" class="form-check">
            <OneChoiceQuestion
              :qId="question.qId"
              :qLanguage="question.qLanguage"
              :answers="question.answers"
            />
          </div>
          <button type="submit" class="btn btn-primary">{{$t('submitSurvey')}}</button>
        </form>
      </div>
    </div>
    <div class="right-menu col-sm-1 col-md-3 col-lg-4 col-xl-4"></div>
  </div>
</template>

<script>
import OneChoiceQuestion from "./OneChoiseQuestion.vue";

import api from "../api";

export default {
  name: "QuestionList",
  components: {
    OneChoiceQuestion
  },
  props: {
    qListTitle: String
  },
  data() {
    return {
      questions: this.getQuestions()
    };
  },
  methods: {
    getQuestions() {
      return this.$store.self.state.questions;
    },
    updatePersonnelNumber(event) {
      this.$store.self.commit("changePersonnelNumber", event.target.value);
    },
    handleSubmit: function() {
      const userDecision = confirm(this.$i18n.t("checkAnswersMessage"));
      if (!userDecision) {
        return;
      }

      const result = {
        answers: [],
        personnelNumber: this.$store.self.state.personnelNumber,
        locale: this.$i18n.locale
      };

      const answered = this.$store.self.state.answers;
      for (const qId in answered) {
        if (this.$store.self.getters.getQuestionIdsForCurrentLanguage.includes(qId)) {
          result.answers.push({
            questionId: qId,
            answerId: answered[qId]
          });
        }
      }
      
      api.submitSurvey(JSON.stringify(result)).then(response => {
        if (response.status == 200) {
          this.$router.push("/success");
          this.$store.self.commit("clearData");
        } else if (response.status == 204) {
          alert(this.$i18n.t("noAttemptsMessage"));
        }
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
input,
button {
  margin-top: 20px;
}

.left-menu,
.right-menu {
  background-image: url("../assets/pattern_WHD.jpg");
  background-repeat: repeat-y;
  background-size: 100% auto;
}
</style>
