<template>
  <div v-if="qLanguage === getLocale()" class="one-choice-question-container">
    <h4>{{ $t(`${qId}_title`) }}</h4>
    <p>{{ $t(`${qId}_text`) }}</p>
    <div v-for="(answer,index) in answers" :key="index" class="custom-control custom-radio">
      <input
        class="form-check-input custom-control-input"
        type="radio"
        :id="answer.aId"
        v-bind:value="answer.aId"
        :name="qId"
        @change="updateAnswer(answer.aId)"
        required
      />
      <label class="form-check-label custom-control-label" :for="answer.aId">{{answer.aText}}</label>
    </div>
  </div>
</template>

<script>
export default {
  name: "OneChoiceQuestion",
  props: {
    qId: String,
    qLanguage: String,
    answers: Array
  },
  data() {
    return {};
  },
  methods: {
    updateAnswer(value) {
      this.$store.self.commit("changeAnswer", {
        qId: this.qId,
        aId: value
      });
    },
    getLocale() {
      return this.$i18n.locale;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.one-choice-question-container {
  margin-bottom: 10px;
  margin-top: 20px;
}

div.custom-control {
  margin-bottom: 5px;
}

label {
  display: block;
  text-align: left;
}
</style>
