<template>
<div class="row">
<div class="col-sm-1 col-md-3 col-lg-4 col-xl-4"> </div>
    <div class="col-sm-10 col-md-6 col-lg-4 col-xl-4">
        <h2>{{ $t('successHeader') }}</h2>
        <p> {{ $t('successMessage') }}</p>
    </div>
    <div class="col-sm-1 col-md-3 col-lg-4 col-xl-4"></div>
</div>
</template>

<script>
export default {
    
}
</script>

<style scoped>

</style>