<template>
  <div id="app">
    <div>
      <b-nav>
        <b-nav-item>{{ $t('companyName') }}</b-nav-item>
        <b-nav-item href="#/submit">{{ $t('survey') }}</b-nav-item>
        <b-nav-item href="#/admin">{{ $t('admin') }}</b-nav-item>
      </b-nav>
    </div>
    <hr/>
    <LanguageSwitcher/>
    <Submitted v-if="this.$route.path === '/success'" />
    <AdminPanel v-else-if="this.$route.path === '/admin'" />
    <MainForm :qListTitle="$t('surveySubtitle')" v-else-if="this.$route.path === '/submit'" />
    <div v-else>{{ $t('welcomeMessage')}}</div>
  </div>
</template>

<script>
import MainForm from "./components/MainForm.vue";
import Submitted from "./components/Submitted";
import AdminPanel from "./components/AdminPanel";
import LanguageSwitcher from "./components/LanguageSwitcher";
import store from "./store";
import router from "./routes";

export default {
  name: "app",
  components: {
    MainForm,
    Submitted,
    AdminPanel,
    LanguageSwitcher
  },
  store,
  router
};
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
}

#app hr {
    display: block;
    height: 0px;
    border: 0;
    border-top: 2px solid #000000;
    margin: 1em 0;
    padding: 0;
}

#app .nav-item a {
  color: #000000;
}

#app .nav-link{
  border-left: 1px solid #000000;
}

#app .btn {
  border-color: #000000;
  color: #000000;
  background-color: #ffffff;
  box-shadow: none;
}
 #app .btn.active {
  background-color: #000000;
  color: #ffffff;
} 

#app .btn-primary {
  color: #ffffff;
  border-color: #000000;
  background-color: #000000;
}

#app .nav {
  margin-left: 5%;
}
#app .nav-item:first-child a{
  border: none;
}

</style>
